<%= form_for @draft do |f| %>
    <%= render 'jezmail/shared/error_message', :object => f.object %>
    <div class="field">
      <%= f.label :subject%><br />
      <%= f.text_field :subject, :size=>'150'%>
    </div>
    <div class="field">
      <%= f.label :to %><br />
      <%= f.text_field :to, :size=>'50' %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body, :size=>'150x15' %>
    </div>
    <div class="actions">
      <%= f.submit "Envoyer",class:"btn btn-default"  %>
    </div>
<% end %>