<h1>Corbeille</h1>  <br><br>

<% if @mailtrash.count != 0 %>
    <%= link_to '<button type="button" class="btn btn-default">Vider la corbeille</button>'.html_safe, trash_path(1) , method: :delete, data: { confirm: 'Êtes vous sur de vouloir vider la corbeille ?' }%>
<% end %>


<br><br>
<table class="tablemail" border="1" width="100%">
  <tr>
    <td> </td>
    <td width="25%">De</td>
    <td width="50%">Sujet</td>
    <td width="25%">Date</td>
  </tr>
  <% @mailtrash.each do |mail|%>
      <tr>
        <td><%= link_to details,mail, method: :get%></td>
        <td><%= mail.from%></td>
        <td><%= mail.subject %></td>
        <td><%= time_ago_in_words(mail.date) %></td>
        <td><%= link_to 'Recuperer', edit_trash_path(mail) %></td>
      </tr>
  <%end%>
</table>