<%= form_for @mail do |f| %>

    <div class="field">
      <%= f.label :subject%><br />
      <%= f.text_field :subject, :size=>'150', :value=>"RE:#{@mail.subject}"%>
    </div>
    <div class="field">
      <%= f.label :to %><br />
      <%= f.text_field :to, :size=>'50', :value=>"#{@mail.from}" %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body, :size=>'150x15', :value=>"\n\n\n\nOriginal :\n#{@mail.body}" %>
    </div>
    <div class="actions">
      <%= f.submit "Envoyer",class:"btn btn-default"  %>
    </div>
<% end %>