<%= form_for @envoi do |f| %>

    <%= render 'jezmail/shared/error_message', :object => f.object %>

    <h1>Envoi d'un message</h1>
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><%= f.label :subject %></span>
      <%= f.text_field :subject,:size=>'150', :class =>"form-control"%>
    </div>
     <br>
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><%= f.label :to %></span>
      <%= f.text_field :to,:size=>'150', :class =>"form-control"%>
    </div>
    <br>
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><%= f.label :body %></span>
        <%= f.text_area :body, :size=>'150x15', :class =>"form-control"%>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Envoyer",class:"btn btn-default"  %>
      <%= f.submit "Enregistrer en brouillon", :name => "commit", class: "btn btn-default" %>
    </div>
<% end %>